<h1>Pregao <%= @pregao.id %></h1>

<p>Pregão número <%= @pregao.num_pregao %>.</p>
<h3>Descrição</h3>
<p><%= @pregao.description %></p>

<%= link_to 'Excluir pregão', pregao_path(@pregao), data: {turbo_method: :delete, turbo_confirm: 'Confirma?'} %>
