<h1>Fornecedor <%= @supplier.name %></h1>

<p>e-mail:<%= @supplier.email %></p>
<p>CNPJ <%= @supplier.cnpj %></p>

<p><%= link_to 'Deletar fornecedor', supplier_path(@supplier), method: :delete, data: { confirm: 'Are you sure?' } %></p>