<h1>Fornecedor <%= @supplier.name %></h1>

<p>e-mail:<%= @supplier.email %></p>
<p>CNPJ <%= @supplier.cnpj %></p>

<p><%= button_to 'Excluir fornecedor', { controller: :suppliers, action: 'destroy' }, method: :delete %></p>
